Source: history
Section: user/other
Priority: optional
Maintainer: Srikanth Sombhatla <srikanth@unknown>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: history
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Know what happened today in history,
 <insert long description, indented with spaces>
XSBC-Maemo-Display-Name: History
